/*  Style the product card container this is the default style for all cards*/

.productCard {
  border: 1px solid #eee;
  border-radius: 8px;
  
}

/*  Add special styling for out-of-stock products */
/* This handles the Out of Stock styling specifically */
.outOfStockClass {
  background-color: #f8d7da !important;
  border: 2px solid #dc3545 !important;
  opacity: 0.6;
  padding: 5px;
  margin-top: 10px;

}